<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  

  
  <div>
    <ion-textarea id="inputDescription1" rows="20" [(ngModel)]="text" placeholder="you need to load Data"></ion-textarea>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-button color="dark" (click)= "showAllTextes()">Load Data</ion-button>
  </ion-fab>
  <ion-content>
    <ion-grid>
      <ion-row>
      </ion-row>
    </ion-grid>
    <ion-content>
      
    </ion-content>
    
  
    <!-- ion-fab markup  -->
  </ion-content>
  
</ion-content>
